body {
  min-height: 100vh;
  background: #fafafa;

  display: flex;
  align-items: center;
}

#input-code:focus {
  outline: none !important;
  border:1px solid #439a46;
  box-shadow: 0 0 10px #439a46;
}

.container {
  padding: 10px;
  margin-top: 30px;
  margin-bottom: 30px;

  display: flex;
  flex-direction: column;
  gap: 40px;
}

.code_container {
  display: flex;
  flex-direction: column;

  text-align: center;
}

.code_container textarea {
  padding: 15px;
  border-radius: 10px;
}

.button_container {
  justify-content: flex-end;
}

.vertical-center {
  display: flex;
  align-items: center;
}

.text-left,
h4 {
  text-align: left;
  font-size: medium;
  font-style: normal !important;
}

.border-gradient {
  border: 10px solid;
  border-image-slice: 1;
  border-width: 1px;
  overflow: scroll;
  padding: 20px;
  border-radius: 5px;

  box-shadow: 15px 15px 15px black;
}

#result_container {
  display: flex;
  flex-direction: column;  
}

.result {
  display: flex;
  padding: 20px;
  margin: 20px 0;
  scroll-snap-align: center;  
  transition: .25s;
}

.result:hover {
  transform: scale(1.05);
}

.slide {
  transform: translateX(-50px);
  opacity: 0;

  animation-name: slideAnimation;
  animation-duration: 0.5s;
  animation-delay: calc(0.25s * var(--i));
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes slideAnimation {
  from {
    transform: translateX(-50px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.neomorphism {
  border-radius: 10px;
  background: #ebebeb;
  box-shadow:  20px 20px 60px #c8c8c8,
              -20px -20px 60px #ffffff;
}

.result.closed {
  justify-content: space-between;
}

.result.opened {
  flex-direction: column;
}

.result.closed .report { display: none; }
.result.opened .report { display: block; }
.result.opened button { display: none; }